img{
    height: 100%;
    /* border-radius: 0px 5px 5px 0px; */
}

.loginInscriptionCadre {
    padding: 10px; 
    border: 3px solid rgba(255, 255, 255, 0.2) !important;
    margin: 0 ;
    border-radius: 15px;
}

