<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            <div class="serviceCard">
                <p-card *ngFor ="let service of services" class="col-12 mt-2 mr-2">
                    <div class="flex  justify-content-between ">
                        <div class="col-4 mb-4"> 
                            <h4>{{ service.nom }}</h4> 
                        </div>
                        <div class="col-4 mb-4">
                            <p-badge  [severity] ="service.statut ? 'success' : 'danger'"></p-badge>
                        </div>
                        <div class="col-2 mb-4">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                        </div>
                        <div class="col-2 mb-4">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service)"></button>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6 mb-4">
                            {{ service.categorie.intitule }}
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ service.prix | currency: "MGA" }}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6 mb-4 ">
                                Durée:
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ service.duree }}h
                        </div>
                    </div>
                    <div class="grid formgrid">
                        <div class="col-6 mb-4 ">
                                Commission:
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ service.commission }}%
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-4 mt-4">
                                Description:
                        </div>
                        <div class="descriptionCard col-6 mb-4" > 
                            {{ service.description }}
                        </div>
                    </div>
                </p-card>        
            </div>
            <div class="card flex justify-content-center">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalData" ></p-paginator>
            </div>
        </div>

        <p-dialog [(visible)]="serviceDialog" [style]="{width: '450px'}" header="Ajout d'un service" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText id="nom" name="nom" required autofocus />
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" pInputTextarea  required rows="3" cols="20"></textarea>
                        <small *ngIf ="description.invalid && (description.dirty || description.touched)" class="bloc p-error">
                            <div *ngIf ="description.errors?.['required']">La description du service est obligatoire.</div>
                        </small>
                    </div>
                    <div class="field">
                        <label for="categorie">Catégorie</label>
                        <!--<p-dropdown [options]="categories" optionLabel="intitule" optionValue="id" [showClear]="true" ></p-dropdown>-->
                    </div>
    
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="prix">Prix</label>
                            <p-inputNumber id="prix" name="prix" mode="currency" currency="MGA" ></p-inputNumber>
                        </div>
                        <div class="field col">
                            <label for="duree">Durée</label>
                            <p-inputNumber id="duree" name="duree" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="field col">
                            <label for="commission">Commission</label>
                            <p-inputNumber id="commission" name="commission" mode="decimal"></p-inputNumber>
                        </div>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveService()"></button>
                </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteServiceDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="service">Etes-vous sûr de vouloir désactiver le statut du service <b>{{service.nom}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteServiceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Désactiver" (click)="confirmDelete(service)"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
