<div class="grid p-fluid">
    <div class="col-12 lg:col-12">
        <div class="card">
            <div class="grid">
                <div class="col-6">
                    <h5>Rendez-vous par jour</h5>
                    <p-chart type="bar" [data]="barRdvParJour" [options]="barOptions"></p-chart>
                </div>
                <div class="col-6">
                    <h5>Rendez-vous par mois</h5>
                    <div class="search">
                        <form #rdvPerMonthSearch="ngForm" (ngSubmit) = "rdvPerMonths(rdvPerMonthSearch)">
                            <div class="grid">
                                <div class="field col-6">
                                    <label for="dateRendezVousMin">Date debut Min:</label>
                                    <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24" #dateRendezVousMin ="ngModel" [(ngModel)] = "dateMin" name="dateRendezVousMin"  styleClass="w-full"  ></p-calendar>
                                </div>
                                <div class="field col-6">
                                    <label for="dateRendezVousMax">Date debut Max:</label>
                                    <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24"  #dateRendezVousMax="ngModel" [(ngModel)] = "dateMax" name="dateRendezVousMax"  styleClass="w-full"  ></p-calendar>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="field col-4">
                                    <label for="categorie"></label>
                                    <button pButton type="submit" class ="w-full" icon="pi pi-search" label="Rechercher" iconPos="right" ></button>
                                </div>
                            </div>
                        </form>
                        <!--<p-paginator (onPageChange)="onPageChange($event,rdvPerMonthSearch)"  [rows]="perPage" [totalRecords]="totalData" ></p-paginator>-->
                    </div>
                    <p-chart type="bar" [data]="barRdvParMois" [options]="barOptions"></p-chart>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <h5>Chiffre d'affaire mensuel</h5>
                    <p-chart type="bar" [data]="barCaMensuel" [options]="barOptions"></p-chart>
                </div>
                <div class="col-6">
                    <h5>Temps moyen de travail de chaque employé</h5>
                    <p-chart type="bar" [data]="barRdvTempsTravail" [options]="barOptions"></p-chart>
                </div>
            </div>
        </div>

    </div>
</div>
