<div class="card">
	<div class="col-12">
        <p-toast></p-toast>
        <h3>Liste des rendez-vous du client</h3>
        <div class="search">
            <form #filtreRdvClient="ngForm" (ngSubmit) = "listeRdvClient(filtreRdvClient,page,perPage)">
                <div class="grid">
                    <div class="field col-6">
                        <label for="dateRendezVousMin">Date debut Min:</label>
                        <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24" #dateRendezVousMin ="ngModel" [(ngModel)] = "filtreRdvClient.dateRendezVousMin" name="dateRendezVousMin"  styleClass="w-full"  ></p-calendar>
                    </div>
                    <div class="field col-6">
                        <label for="dateRendezVousMax">Date debut Max:</label>
                        <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24"  #dateRendezVousMax="ngModel" [(ngModel)] = "filtreRdvClient.dateRendezVousMax" name="dateRendezVousMax"  styleClass="w-full"  ></p-calendar>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-4">
                        <label for="categorie"></label>
                        <button pButton type="submit" class ="w-full" icon="pi pi-search" label="Rechercher" iconPos="right" ></button>
                    </div>
                </div>
            </form>
            <!--<div class="card flex justify-content-center">--> 
                <p-paginator (onPageChange)="onPageChange($event,filtreRdvClient)"  [rows]="perPage" [totalRecords]="totalData" ></p-paginator>
            <!--</div>--> 
        </div>
		<full-calendar [options]="calendarOptions"></full-calendar>

        <!--Affichage fiche rdv-->
        <p-dialog [(visible)]="afficherFicheModal"  header="Fiche du rendez-vous" [modal]="true" class="p-fluid" [contentStyle]="{'overflow': 'visible'}">
            <ng-template pTemplate="content">
                
                <div class="field">
					<span>Employe: </span> {{ fiche ? fiche.personnel.nom : '' }}
                </div>
                <div class="field">
                    <span>Client: </span> {{ fiche ? fiche.client.nom : '' }}
                </div>
                <div class="field">
                    <label for="service">Service: </label>
                    {{ fiche ? fiche.service.nom : '' }}
                </div>
                <div class="field">
                    <label for="service">Montant: </label>
                    {{ fiche.service.prix | number: '1.2-2' }}Ar
                </div>
                <div class="field">
                    <label for="service">Durée: </label>
                    {{ fiche.service.duree }}mn
                </div>
                <div class="field">
                    <label for="dateRendezVous">Date début</label>
					<p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24" [(ngModel)]="dateRdv" name="dateRendezVous" #dateRendezVous="ngModel"></p-calendar>
                </div>
                <div class="field">
                    <label for="pers">Personnel</label>
                    <p-dropdown  [options]="employes" #statut="ngModel" name="statut"  styleClass="w-full" [(ngModel)]="emp"  optionLabel="nom" optionValue="_id">
                    </p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler rendez-vous" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="annulerRdv(fiche)"></button>
                <button pButton pRipple label="Modifier" icon="pi pi-check" class="p-button-outlined p-button-success" (click)="updateRdv(fiche)"></button>
            </ng-template>
            
        </p-dialog>
        <!--Fin affichage fiche rdv-->
	</div>
</div>
