<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <h5>Offres spéciales</h5>
            <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-product pTemplate="item">
                        <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                            <div class="my-5">
                                <img src="assets/demo/images/product/{{product.image}}" [alt]="product.name" class="shadow-4" width="50%"/>
                            </div>
                            <div>
                                <h5 class="mb-1">{{product.name}}</h5>
                                <h6 class="mt-0 mb-3">${{product.price}}</h6>
                                <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                <div class="my-5">
                                    <button pButton pRipple icon="pi pi-search" class="mr-2 p-button-rounded"></button>
                                    <button pButton pRipple icon="pi pi-star-fill" class="mr-2 p-button-rounded p-button-success"></button>
                                    <button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info"></button>
                                </div>
                            </div>
                        </div>
                </ng-template>
            </p-carousel>
            <h5>Liste des services</h5>
            <p-table  [scrollable]="true" scrollHeight="400px" [resizableColumns]="true" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pResizableColumn>Name</th>
                        <th pResizableColumn>Country</th>
                        <th pResizableColumn>Company</th>
                        <th pResizableColumn>Representative</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>dd</td>
                        <td>dd</td>
                        <td>dd</td>
                        <td>dd</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--<p-table styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="caption">
                    Brushing
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Styling</th>
                        <th>Prix: 10 000 Ar</th>
                        <th class="col-4 mb-2 lg:col-4 lg:mb-4"> <p-button label="Programmer"  styleClass="p-button-success" ></p-button> </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>Durée: 1h</td>
                        <td>Description: lorem</td>
                    </tr>
                </ng-template>
            </p-table>-->
            <h5>Listes des employés</h5>
            <div class="card">
                <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                    <ng-template let-product pTemplate="item">
                            <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                                <div class="my-5">
                                    <img src="assets/demo/images/product/{{product.image}}" [alt]="product.name" class="shadow-4" width="50%"/>
                                </div>
                                <div>
                                    <h5 class="mb-1">{{product.name}}</h5>
                                    <h6 class="mt-0 mb-3">${{product.price}}</h6>
                                    <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                    <div class="my-5">
                                        <button pButton pRipple icon="pi pi-search" class="mr-2 p-button-rounded"></button>
                                        <button pButton pRipple icon="pi pi-star-fill" class="mr-2 p-button-rounded p-button-success"></button>
                                        <button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info"></button>
                                    </div>
                                </div>
                            </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>
