<p-card>
	<ng-template pTemplate="title">
		Confirmation des informations
	</ng-template>

	<ng-template pTemplate="content">
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Service:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
				Brushing
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Employé:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
				RASOLOFONIRINA Jeanne
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Date du rendez-vous:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
					  20 Janvier 2023 à 19h
				</span>
			</div>
		</div>
	</ng-template>
    
	<ng-template pTemplate="footer">
		<div class="grid grid-nogutter justify-content-end">
			<p-button label="Retour" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
			<p-button label="Suivant" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
		</div>
	</ng-template>
	
</p-card>