<p-card>
	<p-toast></p-toast>
	<ng-template pTemplate="title">
		Confirmation des informations
	</ng-template>

	<ng-template pTemplate="content">
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Service:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
				{{service}}
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Employé:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
				{{personnel}}
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
					Date du rendez-vous:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-left">
					  {{dateRdv}}
				</span>
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<button pButton pRipple label="Confirmer" class="p-button-success mr-2" (click)="confirmationInfo()"></button>
			</div>
		</div>
	</ng-template>
    
	<ng-template pTemplate="footer">
		<div class="flex flex-column md:flex-row md:justify-content-between">
			<p-button label="Retour" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
			<p-button label="Suivant" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" [disabled] = "isConfirmed"></p-button>
		</div>
	</ng-template>
	

	<!--Confirmation rdv-->
	<p-dialog [(visible)]="modalConfirmerRdv" header="Confirmation" [modal]="true" [style]="{width:'450px'}">
		<div class="flex align-items-center justify-content-center">
			<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
			<span >Les informations que vous avez entrées vont être enregistrées. Aprés confirmation, il n'y aura plus de retour en arrière </span>
		</div>
		<ng-template pTemplate="footer">
			<button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger p-button-outlined" (click)="hideDialog()"></button>
			<button pButton pRipple icon="pi pi-check" class="p-button-success p-button-outlined" label="Confirmer" (click) ="addRdv()"></button>
		</ng-template>
	</p-dialog>
</p-card>