<p-card >
	<ng-template pTemplate="title">
		Payement
	</ng-template>

	<ng-template pTemplate="content">
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				Nom sur la carte:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-right">
					<input type="text" ngModel pInputText #nomCarte="ngModel" [(ngModel)]="cardName" name="nomCarte"/>
					<i class="pi pi-user"></i>
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				N° de carte:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-right">
					<input type="text" ngModel pInputText placeholder="XXXX XXXX XXXX" #numCarte="ngModel" [(ngModel)]="cardNumber" name="numCarte" />
					<i class="pi pi-money-bill"></i>
				</span>
			</div>
		</div>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-3 lg:mb-4">
				Date d'éxpiration:
			</div>
			<div class="col-12 mb-2 lg:col-3 lg:mb-4">
				<span class="p-input-icon-right">
					<p-calendar dateFormat="mm-y" appendTo="body" ngModel #expiredDate="ngModel" [(ngModel)]="cardExpDate" name="expiredDate"> </p-calendar>
					<i class="pi pi-calendar-times"></i>
				</span>
			</div>
			<div class="col-12 mb-2 lg:col-3 lg:mb-4">
				CVV/CVV:
			</div>
			<div class="col-12 mb-2 lg:col-3 lg:mb-4">
				<span class="p-input-icon-right">
					<p-inputNumber mode="decimal" #cvv="ngModel" [(ngModel)]="cvvCard" name="cvv"></p-inputNumber>
					<i class="pi pi-id-card"></i>
				</span>
			</div>
		</div>
		<hr>
		<div class="grid formgrid">
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				Montant:
			</div>
			<div class="col-12 mb-2 lg:col-4 lg:mb-4">
				<span class="p-input-icon-right">
					{{ prix | number: '1.2-2'}}Ar
				</span>
			</div>
		</div>
	</ng-template>
	
	<ng-template pTemplate="footer">
		<div class="flex flex-column md:flex-row md:justify-content-between">
			<p-button label="Retour" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
			<p-button label="Valider" (onClick)="paiement()" icon="pi pi-check" iconPos="right" class="p-button-success"></p-button>
		</div>
	</ng-template>
	
</p-card>