<p-card>
	<ng-template pTemplate="title">
		Liste des personnels
	</ng-template>
	
	<ng-template pTemplate="content">
		<p-listbox [options]="employes" [(ngModel)]="selectedEmploye" ></p-listbox><!--[filter]="true"-->
		<!--<p-dropdown [options]="employes" #emp="ngModel" name="emp" [(ngModel)] = "selectedEmploye" styleClass="w-full"  optionLabel="nom" optionValue="_id"></p-dropdown>-->
	</ng-template>
	
	<ng-template pTemplate="footer">
		<div class="grid grid-nogutter justify-content-end">
			<p-button label="Suivant" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
		</div>
	</ng-template>
	
</p-card>