<div class="card">
	<div class="col-12">
        <p-toast></p-toast>
        <h3>Liste des rendez-vous du personnel</h3>
        <div class="search">
            <form #filtreRdvPerso="ngForm" (ngSubmit) = "listeRdvPerso(filtreRdvPerso,page,perPage)">
                <div class="grid">
                    <div class="field col-6">
                        <label for="dateRendezVousMin">Date debut Min:</label>
                        <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24" #dateRendezVousMin ="ngModel" [(ngModel)] = "filtreRdvPerso.dateRendezVousMin" name="dateRendezVousMin"  styleClass="w-full"  ></p-calendar>
                    </div>
                    <div class="field col-6">
                        <label for="dateRendezVousMax">Date debut Max:</label>
                        <p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24"  #dateRendezVousMax="ngModel" [(ngModel)] = "filtreRdvPerso.dateRendezVousMax" name="dateRendezVousMax"  styleClass="w-full"  ></p-calendar>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col-4">
                        <label for="categorie"></label>
                        <button pButton type="submit" class ="w-full" icon="pi pi-search" label="Rechercher" iconPos="right" ></button>
                    </div>
                </div>
            </form>
            <p-paginator (onPageChange)="onPageChange($event,filtreRdvPerso)"  [rows]="perPage" [totalRecords]="totalData" ></p-paginator>
        </div>
		<full-calendar [options]="calendarOptions"></full-calendar>

        <!--Affichage fiche rdv-->
        <p-dialog [(visible)]="afficherFicheModal"  header="Fiche rendez-vous" [modal]="true" class="p-fluid" [contentStyle]="{'overflow': 'visible'}">
            <button pButton *ngIf="statutRdvClicked != 'Annuler' && statutRdvClicked != 'Effectué' " pRipple label="Changer de statut"  class="p-button-outlined p-button-info" (click)="changerStatutRdv(fiche)" class="w-full mb-4"></button>
            <ng-template pTemplate="content">
                <div class="field">
					<span>Employe: </span> {{ fiche ? fiche.personnel.nom : '' }} 
                </div>
                <div class="field">
                    <span>Client: </span> {{ fiche ? fiche.client.nom : '' }}
                </div>
                <div class="field">
                    <label for="service">Service: </label>
                    {{ fiche ? fiche.service.nom : '' }}
                </div>
                <div class="field">
                    <label for="service">Montant: </label>
                    {{ fiche.service.prix | number: '1.2-2' }}Ar
                </div>
                <div class="field">
                    <label for="service">Durée: </label>
                    {{ fiche.service.duree }}mn
                </div>
                <div class="field">
                    <label for="dateRendezVous">Date début</label>
					<p-calendar dateFormat="dd.mm.y" showTime="true" [hourFormat]="24" [(ngModel)]="dateRdv" name="dateRendezVous" #dateRendezVous="ngModel" > </p-calendar>
                </div>
                <div class="field">
                    <label for="pers">Personnel</label>
                    <p-dropdown  [options]="employes" #statut="ngModel" name="statut"  styleClass="w-full" [(ngModel)]="emp"  optionLabel="nom" optionValue="_id">
                    </p-dropdown>
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="fermerFicheModal()"></button>
                <button pButton pRipple label="Modifier" icon="pi pi-check" class="p-button-outlined p-button-success" (click)="modifierRdv(fiche)"></button>
            </ng-template>
            
        </p-dialog>
        <!--Fin affichage fiche rdv-->

        <!--Changement statut rdv-->
        <p-dialog [(visible)]="modalChangeRdvStatus" header="Changer le statut du rendez-vous" [modal]="true" [style]="{width:'450px'}" [contentStyle]="{'overflow': 'visible'}">
            <p-dropdown  [options]="lesStatuts" #statut="ngModel" name="statut"  styleClass="w-full" [(ngModel)]="statutRdv"  optionLabel="intitule" optionValue="_id">
                <!--<ng-template let-option pTemplate="item">
                    <div *ngIf="fiche.statut.intitule != 'Annuler'">
                        {{ option.intitule }}
                    </div>
                </ng-template>--> 
            </p-dropdown>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-success p-button-outlined" label="Confirmer" (click) ="modifierStatut(fiche)"></button>
            </ng-template>
        </p-dialog>
        <!--Fin changement statut rdv-->
	</div>
</div>
