<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nouvel offre special" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            
            <div class="search">
                <form #offreSpecialSearch="ngForm" (ngSubmit) = "listeOffreSpecial(offreSpecialSearch,page,perPage)">
                    <div class="grid">
                        <div class="field col-6">
                            <label for="prixMinS">Prix Min:</label>
                            <p-inputNumber  #prixMin ="ngModel" [(ngModel)] = "lesServicesSearch.prixMin" name="prixMin" [showButtons]="true" class="w-full"  mode="currency" currency="MGA" [min]="1" ></p-inputNumber>
                        </div>
                        <div class="field col-6">
                            <label for="prixMaxS">Prix Max:</label>
                            <p-inputNumber  #prixMax="ngModel" [(ngModel)] = "lesServicesSearch.prixMax" name="prixMax" [showButtons]="true" class="w-full"  mode="currency" currency="MGA" [min]="1" ></p-inputNumber>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col-6">
                            <label for="dureeMinS">Durée Min:</label>
                            <p-inputNumber  #dureeMin="ngModel" [(ngModel)] = "lesServicesSearch.dureeMin" name="dureeMin" [showButtons]="true" class="w-full"   [min]="1" ></p-inputNumber>
                        </div>
                        <div class="field col-6">
                            <label for="dureeMaxS">Durée Max:</label>
                            <p-inputNumber  #dureeMax="ngModel" [(ngModel)] = "lesServicesSearch.dureeMax" name="dureeMax" [showButtons]="true" class="w-full"   [min]="1" ></p-inputNumber>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col-6">
                            <label for="comMinS">Commission Min:</label>
                            <p-inputNumber  #comMin="ngModel" [(ngModel)] = "lesServicesSearch.comMin" name="comMin" [showButtons]="true" class="w-full"   [min]="1" ></p-inputNumber>
                        </div>
                        <div class="field col-6">
                            <label for="comMaxS">Commission Max:</label>
                            <p-inputNumber  #comMax="ngModel" [(ngModel)] = "lesServicesSearch.comMax" name="comMax" [showButtons]="true" class="w-full"   [min]="1" ></p-inputNumber>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col-6">
                            <label for="nom">Nom:</label>
                            <input type="text" #nom="ngModel" [(ngModel)] = "lesServicesSearch.nom" name="nom" class="w-full" pInputText   required autofocus />
                        </div>
                        <div class="field col-4">
                            <label for="statut">Statut:</label>
                            <p-dropdown [options]="lesStatuts" #statut="ngModel" name="statut"  styleClass="w-full" [(ngModel)]="selectedStatut"  optionLabel="intitule" optionValue="value"></p-dropdown>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col-4">
                            <label for="categorie">Catégorie:</label>
                            <p-dropdown [options]="categories" #categorie="ngModel" name="categorie"  styleClass="w-full" [(ngModel)]="selectedCategorie"  optionLabel="intitule" optionValue="_id"></p-dropdown>
                        </div>
                        <div class="field col-4">
                            <label for="categorie"></label>
                            <button pButton type="submit" class ="w-full" icon="pi pi-search" label="Rechercher" iconPos="right" ></button>
                        </div>
                    </div>
                </form>
            </div>
            

            <div class="serviceCard">
                <p-card *ngFor ="let offre of offres " class="col-12 mt-2 mr-2">
                    <div class="flex  justify-content-between ">
                        <div class="col-4 mb-4"> 
                            <h4>{{ offre.nom }}</h4> 
                        </div>
                        <div class="col-4 mb-4">
                            <p-badge  [severity] ="offre.statut ? 'success' : 'danger'"></p-badge>
                        </div>
                        <div class="col-2 mb-4">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editService(offre)"></button>
                        </div>
                        <div class="col-2 mb-4">
                            <button pButton pRipple icon="pi pi-power-off" class="p-button-rounded p-button-warning" (click)="deleteService(offre)"></button>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6 mb-4">
                            {{ offre.categorie?.intitule || ''}}
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ offre.prix | currency: "MGA" }}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6 mb-4 ">
                                <b>Durée:</b>
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ offre.duree }}mn
                        </div>
                    </div>
                    <div class="grid formgrid">
                        <div class="col-6 mb-4 ">
                                <b>Commission:</b>
                        </div>
                        <div class="col-6 mb-4 ">
                            {{ offre.commission }}%
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-4 mt-4">
                                <b>Description:</b>
                        </div>
                        <div class="descriptionCard col-6 mb-4" > 
                            {{ offre.description }}
                        </div>
                    </div>
                </p-card>        
            </div>
            <div class="card flex justify-content-center">
                <p-paginator (onPageChange)="onPageChange($event,offreSpecialSearch)"  [rows]="perPage" [totalRecords]="totalData" ></p-paginator>
            </div>
            <!--Ajout d'un service--> 
            <p-dialog [(visible)]="serviceDialog" [style]="{width: '450px'}" header="Ajout d'un service" [modal]="true" class="p-fluid" [contentStyle]="{'overflow': 'visible'}">
                <form #ajoutOffreForm="ngForm" (ngSubmit) = "addOffreSpecial(ajoutOffreForm)">
                    <div class="field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText  name="nom" #nom="ngModel" [(ngModel)] = "offreAdd.nom" required autofocus />
                        <div *ngIf="nomError" class="bloc p-error justify-content-center align-item-center">{{ nomError }}</div>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" #description="ngModel" [(ngModel)] = "offreAdd.description" pInputTextarea  required rows="3" cols="20"></textarea>
                        <div *ngIf="descError" class="bloc p-error justify-content-center align-item-center">{{ descError }}</div>
                    </div>
                    <div class="field">
                        <label for="categorie">Catégorie</label>
                        <p-dropdown [options]="categories" name="categorie" #categorie="ngModel" [(ngModel)] = "selectedCategorie" [(ngModel)]="selectedCategorie"  optionLabel="intitule" optionValue="_id"></p-dropdown>
                        <div *ngIf="categError" class="bloc p-error justify-content-center align-item-center">{{ categError }}</div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="oldPrix">Ancien prix</label>
                            <p-inputNumber id="oldPrix" name="oldPrix" #oldPrix="ngModel"  [(ngModel)] = "offreAdd.oldPrice" mode="currency" currency="MGA" [min]="1" ></p-inputNumber>
                            <div *ngIf="oldPriceError" class="bloc p-error justify-content-center align-item-center">{{ oldPriceError }}</div>
                        </div>
                        <div class="field col">
                            <label for="prix">Prix promotionnel</label>
                            <p-inputNumber id="prix" name="prix" #prix="ngModel"  [(ngModel)] = "offreAdd.prix" mode="currency" currency="MGA" [min]="1" ></p-inputNumber>
                            <div *ngIf="prixError" class="bloc p-error justify-content-center align-item-center">{{ prixError }}</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col">
                            <label for="duree">Durée</label>
                            <p-inputNumber id="duree" name="duree" #duree="ngModel" [(ngModel)] = "offreAdd.duree" mode="decimal" [min]="1"></p-inputNumber>
                            <div *ngIf="dureeError" class="bloc p-error justify-content-center align-item-center">{{ dureeError }}</div>
                        </div>
                        <div class="field col">
                            <label for="commission">Commission</label>
                            <p-inputNumber id="commission" name="commission" [(ngModel)] = "offreAdd.commission" #commission="ngModel" mode="decimal" [min]="1"></p-inputNumber>
                            <div *ngIf="commissionError" class="bloc p-error justify-content-center align-item-center">{{ commissionError }}</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="field col">
                            <label for="debutOffre">Date début de l'offre</label>
                            <p-calendar dateFormat="dd.mm.y" showTime="true" #debutOffre="ngModel" [(ngModel)] = "offreAdd.debutOffre" name="debutOffre"  styleClass="w-full"  ></p-calendar>
                            <div *ngIf="debutError" class="bloc p-error justify-content-center align-item-center">{{ debutError }}</div>
                        </div>
                        <div class="field col">
                            <label for="finOffre">Date fin de l'offre</label>
                            <p-calendar dateFormat="dd.mm.y" showTime="true" #finOffre="ngModel" [(ngModel)] = "offreAdd.finOffre" name="finOffre"  styleClass="w-full"  ></p-calendar>
                            <div *ngIf="finError" class="bloc p-error justify-content-center align-item-center">{{ finError }}</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <button pButton type="submit" icon="pi pi-check" label="Enregistrer" iconPos="right" class="p-button-outlined p-button-success"></button>
                        </div>
                    </div>
                </form>
            </p-dialog>
            <!--Modification statut d'un offre-->
            <p-dialog [(visible)]="deleteServiceDialog" header="Confirmation" [modal]="true" [style]="{width:'450px'}" class="p-fluid">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="offre">Etes-vous sûr de vouloir désactiver le statut de cet offre <b>{{offre.nom}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteServiceDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Désactiver" (click)="confirmDelete(offre)"></button>
                </ng-template>
            </p-dialog>

            <!--Modification d'un offre-->
            <p-dialog  [(visible)]="ficheServiceDialog" [style]="{width: '450px'}" header="Modification de l'offre  {{ unOffre.nom }}" [modal]="true" class="p-fluid">
                <form #offreModifForm="ngForm" (ngSubmit) = "updateOffreSpecial(unOffre)">
                    <div class="field">
                        <label for="nom">Nom</label>
                        <input type="text" pInputText #nom="ngModel" [(ngModel)]="unOffre.nom" name="nom" required autofocus />
                        <small *ngIf ="nom.invalid && (nom.dirty || nom.touched)" class="bloc p-error">
                            <div *ngIf ="nom.errors?.['required']">L'intitulé du service est obligatoire.</div>
                        </small>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" #description="ngModel" [(ngModel)]="unOffre.description" name="description" pInputTextarea  required rows="3" cols="20"></textarea>
                        <small *ngIf ="description.invalid && (description.dirty || description.touched)" class="bloc p-error">
                            <div *ngIf ="description.errors?.['required']">La description du service est obligatoire.</div>
                        </small>
                    </div>
                    <div class="field">
                        <label for="categorie">Catégorie</label>
                        <p-dropdown [options]="categories" #categorie="ngModel" [(ngModel)]="updateCategorie" name="categorie" optionLabel="intitule" optionValue="_id" [required]="true"></p-dropdown>
                        <small *ngIf ="categorie.invalid && (categorie.dirty || categorie.touched)" class="bloc p-error">
                            <div *ngIf ="categorie.errors?.['required']">La catégorie du service est obligatoire.</div>
                        </small>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="prix">Prix</label>
                            <p-inputNumber id="prix" #prix="ngModel" [(ngModel)]="unOffre.prix" name ="prix" mode="currency" currency="MGA" [min]="1" [required] =true></p-inputNumber>
                            <small *ngIf ="prix.invalid && (prix.dirty || prix.touched)" class="bloc p-error">
                                <div *ngIf ="prix.errors?.['required']">Le prix du service est obligatoire.</div>
                            </small>
                        </div>
                        <div class="field col">
                            <label for="duree">Durée</label>
                            <p-inputNumber id="duree" #duree="ngModel" [(ngModel)]="unOffre.duree" name="duree" mode="decimal" [min]="1" [required] =true></p-inputNumber>
                            <small *ngIf ="duree.invalid && (duree.dirty || duree.touched)" class="bloc p-error">
                                <div *ngIf ="duree.errors?.['required']">La durée du service est obligatoire.</div>
                            </small>
                        </div>
                        <div class="field col">
                            <label for="commission">Commission</label>
                            <p-inputNumber id="commission" #commission="ngModel" [(ngModel)]="unOffre.commission" name="commission" mode="decimal" [min]="1" [required] =true></p-inputNumber>
                            <small *ngIf ="commission.invalid && (commission.dirty || commission.touched)" class="bloc p-error">
                                <div *ngIf ="commission.errors?.['required']">La commission du service est obligatoire.</div>
                            </small>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <button pButton type="submit" icon="pi pi-check" label="Enregistrer" iconPos="right" class="p-button-outlined p-button-success"></button>
                        </div>
                    </div>
                </form>
            </p-dialog>
        </div>
    </div>
</div>
